#thirdDiv {
    height: 600px;
    width: 500px;
    background-color:wheat;
    padding: 50px;
    padding;
    border: 2px solid blueviolet;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#spanID {
    font-size: 25px;
    margin: 50px;
    }
.divClass {
    width: 800px;
    margin: 0 auto;
}
#divCV {
    height: 175px;
    width: 500px;
    background-color:wheat;
    padding: 50px;
    border: 2px solid blueviolet;
    margin: 0 auto;
}